@model InstructorDetailsViewModel

<div class="container mt-4">
    <h2>Edit Instructor Details</h2>
    <form action="/Instructor/savecreate/" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>


        <div class="form-group">
            <label for="InstructorName">Name</label>
            <input type="text" class="form-control" id="InstructorName" name="Instructor.name" required />
        </div>

        <div class="form-group">
            <label for="InstructorSalary">Salary</label>
            <input type="number" class="form-control" id="InstructorSalary" name="Instructor.salary" required />
        </div>

        <div class="form-group">
            <label for="InstructorAddress">address</label>
            <input type="text" class="form-control" id="Instructoraddress" name="Instructor.address" required />
        </div>        
        
        <div class="form-group">
            <label for="Instructorimage">image</label>
            <input type="text" class="form-control" id="Instructorimage" name="Instructor.image" required />
        </div>


        <div class="form-group">
            <label for="image">Upload Photo</label>
            <input type="file" name="photo" class="form-control" />
        </div>

        <div class="form-group">
            <label for="InstructorDepartment">Department</label>

            <select name="Instructor.dept_id" id="InstructorDepartment" onchange="Getemp(this.value)">
                @foreach (Department deprt in Model.departmentlist)
                {
                    <option value="@deprt.id">@deprt.name</option>
                }
            </select>


        </div>

        <div class="form-group">
            <label for="InstructorCourse">Course</label>
            <select name="Instructor.crs_id" id="InstructorCourse">
                @foreach (Course course in Model.courseslist)
                {
                    <option value="@course.id">@course.name</option>
                }
            </select>

        </div>


        <button type="submit" class="btn btn-primary mt-3">Add</button>
        <a href="/Instructor/" class="btn btn-secondary mt-3">Cancel</a>
    </form>
</div>
<script>

    function Getemp(id){
    console.log(id);
        fetch("/course/GetCoursesbyDepId/" + id)
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json(); // Parse the response as JSON
            })
            .then(data => {
                console.log(data); // This will log the actual data received from the API
                // You can now use `data` to update your UI, such as populating a list or table
            })
            .catch(error => {
                console.error("There was a problem with the fetch operation:", error);
            });


    }
</script>