@model Course

@{
    SelectList deprtmentsOptions = new SelectList(ViewBag.deprtments, "id", "name");
}
<form asp-action="saveedit" asp-route-id="@Model.id" method="post" class="container mt-4">

    <div class="mb-3">
        <label asp-for="name" class="form-label"></label>
        <input asp-for="name" class="form-control" placeholder="Enter course name" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="degree" class="form-label"></label>
        <input asp-for="degree" class="form-control" placeholder="Enter degree" />
        <span asp-validation-for="degree" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label asp-for="minDegree" class="form-label"></label>
        <input asp-for="minDegree" class="form-control" placeholder="Enter minimum degree" />
        <span asp-validation-for="minDegree" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label asp-for="dept_id" class="form-label">Department</label>
        <select asp-items="deprtmentsOptions" asp-for="dept_id" class="form-select">
        </select>

        <span asp-validation-for="dept_id" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label asp-for="hours" class="form-label"></label>
        <input asp-for="hours" class="form-control" placeholder="Enter hours" />
        <span asp-validation-for="hours" class="text-danger"></span>

    </div>

    <div class="text-end">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>

</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
